B2B_game_idea_generation_linkedin.json
{
  "name": "B2B game idea generation linkedin",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2496,
        -1056
      ],
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bot_sessions (\n    telegram_user_id,\n    chat_id,\n    state,\n    updated_at\n)\nVALUES (\n    {{ $json.user_id }},\n    {{ $json.chat_id }},\n    'idle',\n    now()\n)\nON CONFLICT (telegram_user_id)\nDO UPDATE SET\n    chat_id = EXCLUDED.chat_id,\n    updated_at = now()\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2096,
        -1056
      ],
      "name": "SQL get session"
    },
    {
      "parameters": {
        "jsCode": "const update = $json;\n\nlet eventType = 'unknown';\nlet userId = null;\nlet chatId = null;\nlet text = null;\nlet callbackData = null;\n\nif (update.message) {\n  eventType = 'message';\n  userId = update.message.from.id;\n  chatId = update.message.chat.id;\n  text = update.message.text || null;\n}\n\nif (update.callback_query) {\n  eventType = 'callback_query';\n  userId = update.callback_query.from.id;\n  chatId = update.callback_query.message.chat.id;\n  callbackData = update.callback_query.data || null;\n  text = update.callback_query.message.text || null;\n}\n\nreturn [\n  {\n    json: {\n      event_type: eventType,\n      user_id: userId,\n      chat_id: chatId,\n      text,\n      callback_data: callbackData,\n      raw_update: update,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        -1056
      ],
      "name": "Normalize Telegram Update"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions\nSET\n    state = 'generating_topics',\n    topics_batch_no = topics_batch_no + 1,\n    updated_at = now()\nWHERE telegram_user_id = {{ $('Normalize Telegram Update').item.json.user_id }}\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2464,
        -848
      ],
      "name": "SQL create session"
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Telegram Update').item.json.chat_id }}",
        "text": "Собираю 12 тем:\n• 6 тем из LinkedIn\n• 6 тем из открытого интернета\n\nПодожди несколько секунд...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2256,
        -848
      ],
      "name": "Send Собираю 12 тем"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO topic_batches (\n    session_id,\n    batch_no,\n    source_mode\n)\nVALUES (\n    {{ $('SQL create session').item.json.id }},\n    {{ $('SQL create session').item.json.topics_batch_no }},\n    'mixed'\n)\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2048,
        -848
      ],
      "name": "SQL create topic_batch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -2496,
        -352
      ],
      "name": "OpenAI generate LinkedIn topics"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Code prepare LinkedIn topics prompt').first().json;\nconst openai = $json;\n\n// При Simplify Output = ON текст обычно здесь:\nlet rawText =\n  openai.output?.[0]?.content?.find(c => c.type === 'output_text')?.text\n  || openai.output?.[0]?.content?.[0]?.text\n  || openai.text\n  || openai.message\n  || '';\n\nrawText = rawText.trim();\n\n// На случай если модель вдруг вернула markdown-блок\nrawText = rawText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error('Cannot parse LinkedIn topics JSON: ' + error.message + '\\nRaw text:\\n' + rawText);\n}\n\nif (!parsed.topics || !Array.isArray(parsed.topics)) {\n  throw new Error('Invalid LLM response: topics array not found');\n}\n\nif (parsed.topics.length !== 6) {\n  throw new Error(`Expected 6 LinkedIn topics, got ${parsed.topics.length}`);\n}\n\nreturn parsed.topics.map((topic, index) => {\n  return {\n    json: {\n      session_id: source.session_id,\n      batch_id: source.batch_id,\n      batch_no: source.batch_no,\n      topic_no: index + 1,\n\n      title: topic.title,\n      explanation: topic.explanation,\n      relevance_now: topic.relevance_now,\n      source_type: 'linkedin',\n      source_company: topic.source_company || null,\n      source_url: topic.source_url || null,\n      source_signal: topic.source_signal || null,\n      score: topic.score || null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        -352
      ],
      "name": "Code parse LinkedIn topics"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO post_topics (\n    session_id,\n    batch_id,\n    batch_no,\n    topic_no,\n    title,\n    explanation,\n    relevance_now,\n    source_type,\n    source_company,\n    source_url,\n    source_signal,\n    score\n)\nVALUES (\n    {{ $json.session_id }},\n    {{ $json.batch_id }},\n    {{ $json.batch_no }},\n    {{ $json.topic_no }},\n    '{{ String($json.title || '').replace(/'/g, \"''\") }}',\n    '{{ String($json.explanation || '').replace(/'/g, \"''\") }}',\n    '{{ String($json.relevance_now || '').replace(/'/g, \"''\") }}',\n    '{{ String($json.source_type || 'linkedin').replace(/'/g, \"''\") }}',\n    {{ $json.source_company ? \"'\" + String($json.source_company).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.source_url ? \"'\" + String($json.source_url).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.source_signal ? \"'\" + String($json.source_signal).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.score || \"NULL\" }}\n)\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1936,
        -352
      ],
      "name": "SQL insert LinkedIn topics"
    },
    {
      "parameters": {
        "url": "https://www.gamedeveloper.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2464,
        -112
      ],
      "name": "RSS Read GameDeveloper"
    },
    {
      "parameters": {
        "jsCode": "const rssItems = $input.all().map(item => item.json);\n\n// Берем session/batch из уже сохраненных LinkedIn-тем\nconst firstLinkedinTopic = $('SQL insert LinkedIn topics').first().json;\n\n// ---------- previous topics anti-duplicate ----------\nconst previousNode = $('SQL get previous topics for anti-duplicate').first().json;\n\nlet previousTopics = previousNode.previous_topics || [];\n\nif (typeof previousTopics === 'string') {\n  try {\n    previousTopics = JSON.parse(previousTopics);\n  } catch (e) {\n    previousTopics = [];\n  }\n}\n\nif (!Array.isArray(previousTopics)) {\n  previousTopics = [];\n}\n\nconst previousTopicsText = previousTopics\n  .map((t, index) => {\n    return `${index + 1}. [${t.source_type}${t.source_company ? ' / ' + t.source_company : ''}] ${t.title}`;\n  })\n  .join('\\n');\n\n// ---------- current LinkedIn topics in this batch ----------\nconst currentLinkedInTopics = $('SQL insert LinkedIn topics').all().map(item => item.json);\n\nconst currentLinkedInTopicsText = currentLinkedInTopics\n  .map((t, index) => {\n    return `${index + 1}. ${t.title}`;\n  })\n  .join('\\n');\n\n// ---------- RSS filtering ----------\nconst keywords = [\n  'production',\n  'pipeline',\n  'development',\n  'design',\n  'business',\n  'studio',\n  'outsourcing',\n  'co-developer',\n  'co-development',\n  'external development',\n  'live service',\n  'live ops',\n  'player',\n  'engagement',\n  'qa',\n  'testing',\n  'cross-platform',\n  'game pass',\n  'ai',\n  'generative ai',\n  'layoffs',\n  'scope',\n  'plan',\n  'narrative',\n  'process',\n  'publishing',\n  'market',\n  'risk',\n  'cost',\n  'sales',\n  'art production',\n  'unreal',\n  'unity',\n  'legal',\n  'ip',\n  'contract',\n  'platform',\n  'retention',\n  'monetization',\n  'content',\n  'quality'\n];\n\n// 1. Дедупликация по link/guid/title\nconst seen = new Set();\nconst uniqueItems = [];\n\nfor (const article of rssItems) {\n  const key = article.link || article.guid || article.title;\n  if (!key || seen.has(key)) continue;\n\n  seen.add(key);\n  uniqueItems.push(article);\n}\n\n// 2. Фильтрация релевантных материалов\nconst relevant = uniqueItems.filter(article => {\n  const text = [\n    article.title,\n    article.content,\n    article.contentSnippet,\n    article.link\n  ].filter(Boolean).join(' ').toLowerCase();\n\n  return keywords.some(k => text.includes(k));\n});\n\n// 3. Ротация источников, чтобы не брать каждый раз одни и те же первые 15 статей\nconst SELECT_LIMIT = 15;\nconst batchNo = Number(firstLinkedinTopic.batch_no || 0);\n\nlet selected = [];\n\nif (relevant.length > 0) {\n  const start = (batchNo * SELECT_LIMIT) % relevant.length;\n\n  const rotated = [\n    ...relevant.slice(start),\n    ...relevant.slice(0, start),\n  ];\n\n  selected = rotated.slice(0, SELECT_LIMIT);\n}\n\n// 4. Если релевантных мало или нет — fallback на uniqueItems, тоже с ротацией\nif (selected.length === 0 && uniqueItems.length > 0) {\n  const start = (batchNo * SELECT_LIMIT) % uniqueItems.length;\n\n  const rotated = [\n    ...uniqueItems.slice(start),\n    ...uniqueItems.slice(0, start),\n  ];\n\n  selected = rotated.slice(0, SELECT_LIMIT);\n}\n\n// 5. Собираем corpus для LLM\nconst internetSignals = selected.map((article, index) => {\n  return [\n    `[SOURCE ${index + 1}]`,\n    `Title: ${article.title || ''}`,\n    `Summary: ${article.contentSnippet || article.content || ''}`,\n    `URL: ${article.link || ''}`,\n    `Date: ${article.isoDate || article.pubDate || ''}`,\n    `Author: ${article.creator || article['dc:creator'] || ''}`\n  ].join('\\n');\n}).join('\\n\\n---\\n\\n');\n\nif (!internetSignals.trim()) {\n  throw new Error('Internet signals are empty after RSS filtering/rotation');\n}\n\nconst prompt = `\nYou are a senior B2B content strategist for a game development outsourcing and co-development studio.\n\nGenerate exactly 6 strong LinkedIn post topics based on broader internet and game industry signals.\n\nBusiness context:\n- The company works in game development, game art, co-development, outsource production, feature development, live ops, game testing, and full-cycle production.\n- The audience includes game founders, producers, studio heads, publishing managers, product owners, and decision-makers in game companies.\n\nRequirements:\n- Focus only on game development and adjacent studio services.\n- No beginner topics.\n- No generic hype.\n- No recruiting topics.\n- No employer branding topics.\n- No event announcement topics.\n- Topics must be useful for B2B LinkedIn content.\n- Topics must be specific, practical, commercially relevant, and suitable for a game development studio.\n- Avoid duplicates and near-duplicates.\n- Do not repeat obvious LinkedIn topics about generic co-development unless the internet signal gives a clearly different angle.\n- Convert news/signals into practical B2B thought-leadership topics.\n- Prefer topics connected to real production pain: cost, quality, timelines, risk, pipelines, live ops, QA, art production, co-development, publishing, market pressure, legal/IP risk, platform shifts, lifecycle extension.\n- Source type must always be \"internet\".\n- Score must be from 1 to 10.\n- Use only the provided internet signals.\n\nAlready shown topics in this Telegram session:\n${previousTopicsText || 'No previous topics yet.'}\n\nLinkedIn topics already generated in the current batch:\n${currentLinkedInTopicsText || 'No LinkedIn topics in current batch.'}\n\nAnti-duplicate requirements:\n- Do not repeat previous topics.\n- Do not generate near-duplicates of previous topics.\n- Do not repeat the current LinkedIn topics from this batch.\n- Do not simply rewrite the same idea with different words.\n- If a signal is similar, choose a different business angle, narrower production problem, or different audience.\n- The 6 internet topics must add new angles compared to the 6 LinkedIn topics.\n- Avoid broad repeated themes about generic co-development, generic QA, generic live ops, or generic art outsourcing unless the selected internet signal gives a clearly new angle.\n- If several internet signals are similar to previous topics, prioritize less-used signals from the selected sources.\n\nReturn ONLY valid JSON.\nNo markdown.\nNo explanations outside JSON.\n\nJSON format:\n{\n  \"topics\": [\n    {\n      \"title\": \"...\",\n      \"explanation\": \"...\",\n      \"relevance_now\": \"...\",\n      \"source_type\": \"internet\",\n      \"source_company\": null,\n      \"source_url\": \"...\",\n      \"source_signal\": \"...\",\n      \"score\": 8\n    }\n  ]\n}\n\nInternet signals:\n${internetSignals}\n`;\n\nreturn [\n  {\n    json: {\n      session_id: firstLinkedinTopic.session_id,\n      batch_id: firstLinkedinTopic.batch_id,\n      batch_no: firstLinkedinTopic.batch_no,\n      source_type: 'internet',\n\n      total_rss_items: rssItems.length,\n      unique_items: uniqueItems.length,\n      relevant_items: relevant.length,\n      selected_items: selected.length,\n      selected_rotation_start: relevant.length > 0\n        ? (batchNo * SELECT_LIMIT) % relevant.length\n        : null,\n\n      internet_signals: internetSignals,\n\n      previous_topics_count: previousTopics.length,\n      previous_topics: previousTopics,\n\n      current_linkedin_topics_count: currentLinkedInTopics.length,\n      current_linkedin_topics: currentLinkedInTopics,\n\n      prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2256,
        -112
      ],
      "name": "Code prepare Internet topics prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -2048,
        -112
      ],
      "name": "OpenAI generate Internet topics"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Code prepare Internet topics prompt').first().json;\nconst openai = $json;\n\nlet rawText =\n  openai.output?.[0]?.content?.find(c => c.type === 'output_text')?.text\n  || openai.output?.[0]?.content?.[0]?.text\n  || openai.text\n  || openai.message\n  || '';\n\nrawText = rawText.trim();\n\nrawText = rawText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error('Cannot parse Internet topics JSON: ' + error.message + '\\nRaw text:\\n' + rawText);\n}\n\nif (!parsed.topics || !Array.isArray(parsed.topics)) {\n  throw new Error('Invalid LLM response: topics array not found');\n}\n\nif (parsed.topics.length !== 6) {\n  throw new Error(`Expected 6 Internet topics, got ${parsed.topics.length}`);\n}\n\nreturn parsed.topics.map((topic, index) => {\n  return {\n    json: {\n      session_id: source.session_id,\n      batch_id: source.batch_id,\n      batch_no: source.batch_no,\n      topic_no: index + 7,\n\n      title: topic.title,\n      explanation: topic.explanation,\n      relevance_now: topic.relevance_now,\n      source_type: 'internet',\n      source_company: topic.source_company || null,\n      source_url: topic.source_url || null,\n      source_signal: topic.source_signal || null,\n      score: topic.score || null\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2480,
        144
      ],
      "name": "Code parse Internet topics"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO post_topics (\n    session_id,\n    batch_id,\n    batch_no,\n    topic_no,\n    title,\n    explanation,\n    relevance_now,\n    source_type,\n    source_company,\n    source_url,\n    source_signal,\n    score\n)\nVALUES (\n    {{ $json.session_id }},\n    {{ $json.batch_id }},\n    {{ $json.batch_no }},\n    {{ $json.topic_no }},\n    '{{ String($json.title || '').replace(/'/g, \"''\") }}',\n    '{{ String($json.explanation || '').replace(/'/g, \"''\") }}',\n    '{{ String($json.relevance_now || '').replace(/'/g, \"''\") }}',\n    '{{ String($json.source_type || 'internet').replace(/'/g, \"''\") }}',\n    {{ $json.source_company ? \"'\" + String($json.source_company).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.source_url ? \"'\" + String($json.source_url).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.source_signal ? \"'\" + String($json.source_signal).replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n    {{ $json.score || \"NULL\" }}\n)\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2272,
        144
      ],
      "name": "SQL insert Internet topics"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items.length) {\n  throw new Error('No internet topics inserted');\n}\n\nconst first = items[0].json;\nconst session = $('SQL create session').first().json;\n\nreturn [\n  {\n    json: {\n      session_id: first.session_id,\n      batch_id: first.batch_id,\n      batch_no: first.batch_no,\n      chat_id: session.chat_id,\n      telegram_user_id: session.telegram_user_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        144
      ],
      "name": "Code prepare batch context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    id,\n    session_id,\n    batch_id,\n    batch_no,\n    topic_no,\n    title,\n    explanation,\n    relevance_now,\n    source_type,\n    source_company,\n    source_url,\n    source_signal,\n    score\nFROM post_topics\nWHERE session_id = {{ $json.session_id }}\n  AND batch_id = {{ $json.batch_id }}\nORDER BY topic_no ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1856,
        144
      ],
      "name": "SQL get 12 topics"
    },
    {
      "parameters": {
        "jsCode": "const topics = $input.all().map(item => item.json);\nconst context = $('Code prepare batch context').first().json;\n\nif (topics.length !== 12) {\n  throw new Error(`Expected 12 topics, got ${topics.length}`);\n}\n\ntopics.sort((a, b) => Number(a.topic_no) - Number(b.topic_no));\n\nconst lines = [];\n\nlines.push('Готово. Собрал 12 тем для LinkedIn-поста.');\nlines.push('');\nlines.push('LinkedIn-сигналы: 1–6');\nlines.push('Интернет-сигналы: 7–12');\nlines.push('');\nlines.push('Выбери тему:');\nlines.push('');\n\nfor (const topic of topics) {\n  const sourceLabel = topic.source_type === 'linkedin' ? 'LinkedIn' : 'Internet';\n\n  lines.push(`${topic.topic_no}. ${topic.title}`);\n  lines.push(`Источник: ${sourceLabel}${topic.source_company ? ` / ${topic.source_company}` : ''}`);\n  //lines.push(`Почему актуально: ${topic.relevance_now}`);\n  lines.push('');\n}\n\n// Кнопки выбора тем: 4 ряда по 3 кнопки\nconst topicButtons = [];\nfor (let i = 0; i < topics.length; i += 3) {\n  topicButtons.push(\n    topics.slice(i, i + 3).map(topic => ({\n      text: String(topic.topic_no),\n      callback_data: `select_topic:${topic.id}`\n    }))\n  );\n}\n\ntopicButtons.push([\n  {\n    text: 'Еще темы',\n    callback_data: 'create_post'\n  },\n  {\n    text: 'Выйти',\n    callback_data: 'exit'\n  }\n]);\n\nreturn [\n  {\n    json: {\n      session_id: context.session_id,\n      batch_id: context.batch_id,\n      batch_no: context.batch_no,\n      chat_id: context.chat_id,\n      telegram_user_id: context.telegram_user_id,\n      message_text: lines.join('\\n'),\n      reply_markup: {\n        inline_keyboard: topicButtons\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        384
      ],
      "name": "Code format topics for Telegram"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions\nSET\n    state = 'choosing_topic',\n    updated_at = now()\nWHERE id = {{ $json.session_id }}\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2256,
        384
      ],
      "name": "SQL update state choosing_topic"
    },
    {
      "parameters": {
        "chatId": "={{ $('Code format topics for Telegram').first().json.chat_id }}",
        "text": "={{ $('Code format topics for Telegram').first().json.message_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "1",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[0][0].callback_data }}"
                    }
                  },
                  {
                    "text": "2",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[0][1].callback_data }}"
                    }
                  },
                  {
                    "text": "3",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[0][2].callback_data }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "4",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[1][0].callback_data }}"
                    }
                  },
                  {
                    "text": "5",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[1][1].callback_data }}"
                    }
                  },
                  {
                    "text": "6",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[1][2].callback_data }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "7",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[2][0].callback_data }}"
                    }
                  },
                  {
                    "text": "8",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[2][1].callback_data }}"
                    }
                  },
                  {
                    "text": "9",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[2][2].callback_data }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "10",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[3][0].callback_data }}"
                    }
                  },
                  {
                    "text": "11",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[3][1].callback_data }}"
                    }
                  },
                  {
                    "text": "12",
                    "additionalFields": {
                      "callback_data": "={{ $('Code format topics for Telegram').first().json.reply_markup.inline_keyboard[3][2].callback_data }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Еще темы",
                    "additionalFields": {
                      "callback_data": "create_post"
                    }
                  },
                  {
                    "text": "Выйти",
                    "additionalFields": {
                      "callback_data": "exit"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2064,
        384
      ],
      "name": "Telegram send 12 topics"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').first().json.callback_data }}",
              "rightValue": "select_topic:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1488,
        -1040
      ],
      "name": "IF select_topic"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Telegram Update').first().json;\nconst callbackData = normalized.callback_data || '';\n\nif (!callbackData.startsWith('select_topic:')) {\n  throw new Error(`Invalid callback_data: ${callbackData}`);\n}\n\nconst topicId = Number(callbackData.replace('select_topic:', ''));\n\nif (!Number.isInteger(topicId) || topicId <= 0) {\n  throw new Error(`Invalid topic id: ${callbackData}`);\n}\n\nreturn [\n  {\n    json: {\n      topic_id: topicId,\n      telegram_user_id: normalized.user_id,\n      chat_id: normalized.chat_id,\n      callback_data: callbackData\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -1056
      ],
      "name": "Code parse selected topic id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH selected_topic AS (\n    SELECT pt.*\n    FROM post_topics pt\n    JOIN bot_sessions bs ON bs.id = pt.session_id\n    WHERE pt.id = {{ $json.topic_id }}\n      AND bs.telegram_user_id = {{ $json.telegram_user_id }}\n    LIMIT 1\n),\n\nclear_selection AS (\n    UPDATE post_topics\n    SET is_selected = false\n    WHERE session_id = (SELECT session_id FROM selected_topic)\n),\n\nmark_topic AS (\n    UPDATE post_topics\n    SET is_selected = true\n    WHERE id = (SELECT id FROM selected_topic)\n    RETURNING *\n),\n\nupdate_session AS (\n    UPDATE bot_sessions\n    SET\n        current_topic_id = (SELECT id FROM selected_topic),\n        state = 'choosing_language',\n        updated_at = now()\n    WHERE id = (SELECT session_id FROM selected_topic)\n    RETURNING *\n)\n\nSELECT\n    t.id AS topic_id,\n    t.session_id,\n    t.batch_id,\n    t.topic_no,\n    t.title,\n    t.explanation,\n    t.relevance_now,\n    t.source_type,\n    t.source_company,\n    s.telegram_user_id,\n    s.chat_id,\n    s.state\nFROM mark_topic t\nJOIN update_session s ON true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1008,
        -1056
      ],
      "name": "SQL set selected topic"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ \"Тема выбрана:\\n\\n\" + $json.title + \"\\n\\nНа каком языке подготовить пост?\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "English",
                    "additionalFields": {
                      "callback_data": "lang:en"
                    }
                  },
                  {
                    "text": "Russian",
                    "additionalFields": {
                      "callback_data": "lang:ru"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -816,
        -1056
      ],
      "name": "Telegram ask language"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').first().json.callback_data }}",
              "rightValue": "lang:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1296,
        -864
      ],
      "name": "IF language"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Telegram Update').first().json;\nconst callbackData = normalized.callback_data || '';\n\nif (!callbackData.startsWith('lang:')) {\n  throw new Error(`Invalid language callback_data: ${callbackData}`);\n}\n\nconst langCode = callbackData.replace('lang:', '');\n\nconst languageMap = {\n  en: 'English',\n  ru: 'Russian',\n};\n\nconst language = languageMap[langCode];\n\nif (!language) {\n  throw new Error(`Unsupported language: ${langCode}`);\n}\n\nreturn [\n  {\n    json: {\n      telegram_user_id: normalized.user_id,\n      chat_id: normalized.chat_id,\n      callback_data: callbackData,\n      language_code: langCode,\n      language,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -976
      ],
      "name": "Code parse language"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions\nSET\n    selected_language = '{{ $json.language_code }}',\n    state = 'generating_post',\n    updated_at = now()\nWHERE telegram_user_id = {{ $json.telegram_user_id }}\nRETURNING\n    id AS session_id,\n    telegram_user_id,\n    chat_id,\n    state,\n    current_topic_id,\n    selected_language;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        -976
      ],
      "name": "SQL set language"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    bs.id AS session_id,\n    bs.telegram_user_id,\n    bs.chat_id,\n    bs.state,\n    bs.selected_language,\n    pt.id AS topic_id,\n    pt.topic_no,\n    pt.title,\n    pt.explanation,\n    pt.relevance_now,\n    pt.source_type,\n    pt.source_company,\n    pt.source_url,\n    pt.source_signal,\n    pt.score\nFROM bot_sessions bs\nJOIN post_topics pt ON pt.id = bs.current_topic_id\nWHERE bs.telegram_user_id = {{ $json.telegram_user_id }}\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1488,
        -976
      ],
      "name": "SQL get selected topic for post"
    },
    {
      "parameters": {
        "jsCode": "const topic = $json;\n\nconst languageMap = {\n  en: 'English',\n  ru: 'Russian',\n};\n\nconst language = languageMap[topic.selected_language] || 'English';\n\nconst prompt = `\nYou are a senior LinkedIn content writer for a game development outsourcing and co-development studio.\n\nWrite a professional LinkedIn post based on the selected topic.\n\nContext:\n- The company works in game development, game art, feature development, co-development, live ops, testing, and production support.\n- The post must sound like an experienced industry player, not like a content farm.\n- The target audience is decision-makers in game studios, publishers, founders, producers, and product leads.\n\nSelected topic:\nTitle: ${topic.title}\nExplanation: ${topic.explanation}\nWhy relevant now: ${topic.relevance_now}\nSource type: ${topic.source_type}\nSource company: ${topic.source_company || 'N/A'}\nSource signal: ${topic.source_signal || 'N/A'}\n\nRequirements:\n- Write in ${language}\n- Tone: professional, sharp, clear, credible, not pompous\n- Make the opening strong\n- Deliver practical value\n- Keep the post natural for LinkedIn\n- Avoid cheap clickbait, fluff, and generic motivational style\n- Avoid emojis overload\n- Avoid sounding like AI-generated generic marketing text\n- Include a soft CTA at the end\n- Length: 1200–2200 characters\n- Max length: 3000 characters\n- The post should reflect real expertise in game development services\n- The post should be useful enough that an industry professional would actually read it\n\nReturn ONLY valid JSON.\nNo markdown.\nNo explanations outside JSON.\n\nJSON format:\n{\n  \"post_text\": \"...\",\n  \"hooks\": [\n    \"...\",\n    \"...\",\n    \"...\"\n  ],\n  \"cta_variants\": [\n    \"...\",\n    \"...\",\n    \"...\"\n  ]\n}\n`;\n\nreturn [\n  {\n    json: {\n      session_id: topic.session_id,\n      telegram_user_id: topic.telegram_user_id,\n      chat_id: topic.chat_id,\n      topic_id: topic.topic_id,\n      selected_language: topic.selected_language,\n      language,\n      title: topic.title,\n      explanation: topic.explanation,\n      relevance_now: topic.relevance_now,\n      source_type: topic.source_type,\n      source_company: topic.source_company,\n      source_url: topic.source_url,\n      source_signal: topic.source_signal,\n      prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -736
      ],
      "name": "Code prepare post prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2500,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1216,
        -736
      ],
      "name": "OpenAI generate post"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Code prepare post prompt').first().json;\nconst openai = $json;\n\nlet rawText =\n  openai.output?.[0]?.content?.find(c => c.type === 'output_text')?.text\n  || openai.output?.[0]?.content?.[0]?.text\n  || openai.text\n  || openai.message\n  || '';\n\nrawText = rawText.trim();\n\nrawText = rawText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error('Cannot parse generated post JSON: ' + error.message + '\\nRaw text:\\n' + rawText);\n}\n\nif (!parsed.post_text) {\n  throw new Error('Invalid LLM response: post_text not found');\n}\n\nreturn [\n  {\n    json: {\n      session_id: source.session_id,\n      telegram_user_id: source.telegram_user_id,\n      chat_id: source.chat_id,\n      topic_id: source.topic_id,\n      language: source.selected_language,\n      post_text: parsed.post_text,\n      hooks: parsed.hooks || [],\n      cta_variants: parsed.cta_variants || [],\n      raw_llm_json: parsed\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -736
      ],
      "name": "Code parse generated post"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH next_version AS (\n    SELECT COALESCE(MAX(version), 0) + 1 AS version\n    FROM generated_posts\n    WHERE session_id = {{ $json.session_id }}\n      AND topic_id = {{ $json.topic_id }}\n),\n\ninsert_post AS (\n    INSERT INTO generated_posts (\n        session_id,\n        topic_id,\n        language,\n        version,\n        post_text,\n        feedback\n    )\n    VALUES (\n        {{ $json.session_id }},\n        {{ $json.topic_id }},\n        '{{ String($json.language || '').replace(/'/g, \"''\") }}',\n        (SELECT version FROM next_version),\n        '{{ String($json.post_text || '').replace(/'/g, \"''\") }}',\n        NULL\n    )\n    RETURNING *\n),\n\nupdate_session AS (\n    UPDATE bot_sessions\n    SET\n        current_post_id = (SELECT id FROM insert_post),\n        state = 'generating_images',\n        updated_at = now()\n    WHERE id = {{ $json.session_id }}\n    RETURNING *\n)\n\nSELECT\n    p.id AS post_id,\n    p.session_id,\n    p.topic_id,\n    p.language,\n    p.version,\n    p.post_text,\n    s.chat_id,\n    s.telegram_user_id,\n    s.state\nFROM insert_post p\nJOIN update_session s ON true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        -496
      ],
      "name": "SQL insert generated post"
    },
    {
      "parameters": {
        "jsCode": "const post = $json;\nconst topic = $('SQL get selected topic for post').first().json;\n\nconst prompt = `\nYou are creating visual concepts for a LinkedIn post for a professional game development outsourcing and co-development studio.\n\nTask:\nGenerate exactly 3 different image concepts that match the post topic and feel suitable for a professional LinkedIn audience.\n\nContext:\n- Industry: game development, game art, outsource production, co-development, live ops\n- Audience: game founders, producers, studio heads, publishers, product owners\n- The visual should support the post, not distract from it\n- Prefer clean composition, strong concept, and business-appropriate visual language\n- Avoid cliché stock-photo style\n- Avoid childish visuals\n- Avoid heavy text overlays\n- Avoid logos of real companies\n- Avoid copyrighted characters\n- No text inside the image\n\nTopic:\n${topic.title}\n\nPost text:\n${post.post_text}\n\nRequirements:\n- Create 3 clearly different image concepts\n- Each concept must be suitable for image generation\n- Each concept should work as a LinkedIn post image\n- Style: modern, polished, professional, game production / studio production vibe\n- No text on image\n- No real company logos\n- No recognizable copyrighted game characters\n\nReturn ONLY valid JSON.\nNo markdown.\nNo explanations outside JSON.\n\nJSON format:\n{\n  \"image_concepts\": [\n    {\n      \"title\": \"...\",\n      \"visual_concept\": \"...\",\n      \"composition\": \"...\",\n      \"style\": \"...\",\n      \"image_prompt\": \"...\",\n      \"why_it_matches\": \"...\"\n    }\n  ]\n}\n`;\n\nreturn [\n  {\n    json: {\n      session_id: post.session_id,\n      topic_id: post.topic_id,\n      post_id: post.post_id,\n      chat_id: post.chat_id,\n      telegram_user_id: post.telegram_user_id,\n      language: post.language,\n      post_text: post.post_text,\n      topic_title: topic.title,\n      prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -496
      ],
      "name": "Code prepare image concepts prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1328,
        -496
      ],
      "name": "OpenAI generate image concepts"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Code prepare image concepts prompt').first().json;\nconst openai = $json;\n\nlet rawText =\n  openai.output?.[0]?.content?.find(c => c.type === 'output_text')?.text\n  || openai.output?.[0]?.content?.[0]?.text\n  || openai.text\n  || openai.message\n  || '';\n\nrawText = rawText.trim();\n\nrawText = rawText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error('Cannot parse image concepts JSON: ' + error.message + '\\nRaw text:\\n' + rawText);\n}\n\nif (!parsed.image_concepts || !Array.isArray(parsed.image_concepts)) {\n  throw new Error('Invalid LLM response: image_concepts array not found');\n}\n\nif (parsed.image_concepts.length !== 3) {\n  throw new Error(`Expected 3 image concepts, got ${parsed.image_concepts.length}`);\n}\n\nconst imageConcepts = parsed.image_concepts.map((concept, index) => {\n  return {\n    image_no: index + 1,\n    concept_title: concept.title || '',\n    visual_concept: concept.visual_concept || '',\n    composition: concept.composition || '',\n    style: concept.style || '',\n    image_prompt: concept.image_prompt || '',\n    why_it_matches: concept.why_it_matches || ''\n  };\n});\n\nreturn [\n  {\n    json: {\n      session_id: source.session_id,\n      topic_id: source.topic_id,\n      post_id: source.post_id,\n      chat_id: source.chat_id,\n      telegram_user_id: source.telegram_user_id,\n      language: source.language,\n      topic_title: source.topic_title,\n      image_concepts: imageConcepts,\n      raw_llm_json: parsed\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -496
      ],
      "name": "Code parse image concepts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions\nSET\n    images_batch_no = images_batch_no + 1,\n    updated_at = now()\nWHERE id = {{ $json.session_id }}\nRETURNING\n    id AS session_id,\n    telegram_user_id,\n    chat_id,\n    current_post_id,\n    images_batch_no;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        -272
      ],
      "name": "SQL increment images batch"
    },
    {
      "parameters": {
        "jsCode": "const conceptsData = $('Code parse image concepts').first().json;\nconst batch = $json;\n\nconst concepts = conceptsData.image_concepts || [];\n\nif (concepts.length !== 3) {\n  throw new Error(`Expected 3 image concepts, got ${concepts.length}`);\n}\n\nreturn concepts.map((concept) => {\n  return {\n    json: {\n      session_id: conceptsData.session_id,\n      topic_id: conceptsData.topic_id,\n      post_id: conceptsData.post_id,\n      chat_id: conceptsData.chat_id,\n      telegram_user_id: conceptsData.telegram_user_id,\n\n      image_batch_no: batch.images_batch_no,\n      image_no: concept.image_no,\n\n      concept_title: concept.concept_title,\n      visual_concept: concept.visual_concept,\n      composition: concept.composition,\n      style: concept.style,\n      image_prompt: concept.image_prompt,\n      why_it_matches: concept.why_it_matches\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -272
      ],
      "name": "Code expand image concepts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO generated_images (\n    session_id,\n    post_id,\n    batch_no,\n    image_no,\n    prompt,\n    image_url,\n    file_path,\n    is_selected\n)\nVALUES (\n    {{ $json.session_id }},\n    {{ $json.post_id }},\n    {{ $json.image_batch_no }},\n    {{ $json.image_no }},\n    '{{ String($json.image_prompt || '').replace(/'/g, \"''\") }}',\n    NULL,\n    NULL,\n    false\n)\nRETURNING\n    id AS image_id,\n    session_id,\n    post_id,\n    batch_no AS image_batch_no,\n    image_no,\n    prompt,\n    image_url,\n    file_path,\n    is_selected,\n    created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        -272
      ],
      "name": "SQL insert image prompts"
    },
    {
      "parameters": {
        "jsCode": "const generatedItems = $input.all();\nconst sourceItems = $('SQL insert image prompts').all();\n\nif (generatedItems.length !== sourceItems.length) {\n  throw new Error(\n    `Items count mismatch: generated=${generatedItems.length}, source=${sourceItems.length}`\n  );\n}\n\nreturn generatedItems.map((item, index) => {\n  const src = sourceItems[index].json;\n\n  const dirPath = `/files/linkedin_images`;\n\n  const filePath =\n    `${dirPath}/session_${src.session_id}_post_${src.post_id}_batch_${src.image_batch_no}_image_${src.image_no}_${src.image_id}.png`;\n\n  return {\n    json: {\n      image_id: src.image_id,\n      session_id: src.session_id,\n      post_id: src.post_id,\n      image_batch_no: src.image_batch_no,\n      image_no: src.image_no,\n      prompt: src.prompt,\n      image_url: src.image_url,\n      is_selected: src.is_selected,\n      created_at: src.created_at,\n      dir_path: dirPath,\n      file_path: filePath,\n    },\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -64
      ],
      "name": "Code attach image metadata"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1184,
        -64
      ],
      "name": "Write image to disk"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE generated_images\nSET\n    file_path = '{{ String($json.file_path || '').replace(/'/g, \"''\") }}',\n    image_url = NULL\nWHERE id = {{ $json.image_id }}\nRETURNING\n    id AS image_id,\n    session_id,\n    post_id,\n    batch_no AS image_batch_no,\n    image_no,\n    prompt,\n    image_url,\n    file_path,\n    is_selected,\n    created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        -64
      ],
      "name": "SQL update generated image file"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1536,
        -64
      ],
      "name": "Read image files"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('SQL insert generated post').first().json.chat_id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        -64
      ],
      "name": "Telegram send image previews"
    },
    {
      "parameters": {
        "jsCode": "const images = $('SQL update generated image file').all().map(item => item.json);\n\nif (images.length !== 3) {\n  throw new Error(`Expected 3 images, got ${images.length}`);\n}\n\nimages.sort((a, b) => Number(a.image_no) - Number(b.image_no));\n\nfor (const img of images) {\n  if (!img.image_id) {\n    throw new Error(`Image without image_id: ${JSON.stringify(img)}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      chat_id: $('Normalize Telegram Update').first().json.chat_id,\n\n      image_1_id: images[0].image_id,\n      image_2_id: images[1].image_id,\n      image_3_id: images[2].image_id,\n\n      image_1_no: images[0].image_no,\n      image_2_no: images[1].image_no,\n      image_3_no: images[2].image_no\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        160
      ],
      "name": "Code prepare image choice"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Выбери картинку:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выбрать 1",
                    "additionalFields": {
                      "callback_data": "={{ 'select_image:' + $json.image_1_id }}"
                    }
                  },
                  {
                    "text": "Выбрать 2",
                    "additionalFields": {
                      "callback_data": "={{ 'select_image:' + $json.image_2_id }}"
                    }
                  },
                  {
                    "text": "Выбрать 3",
                    "additionalFields": {
                      "callback_data": "={{ 'select_image:' + $json.image_3_id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Сгенерировать еще",
                    "additionalFields": {
                      "callback_data": "more_images"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выход",
                    "additionalFields": {
                      "callback_data": "exit"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        160
      ],
      "name": "Telegram ask image choice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').first().json.callback_data }}",
              "rightValue": "select_image:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1568,
        -608
      ],
      "name": "IF select_image"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Telegram Update').first().json;\nconst callbackData = normalized.callback_data || '';\n\nif (!callbackData.startsWith('select_image:')) {\n  throw new Error(`Invalid callback_data: ${callbackData}`);\n}\n\nconst imageId = Number(callbackData.replace('select_image:', ''));\n\nif (!Number.isInteger(imageId) || imageId <= 0) {\n  throw new Error(`Invalid image id: ${callbackData}`);\n}\n\nreturn [\n  {\n    json: {\n      image_id: imageId,\n      telegram_user_id: normalized.user_id,\n      chat_id: normalized.chat_id,\n      callback_data: callbackData\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -768
      ],
      "name": "Code parse selected image id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH selected_image AS (\n    SELECT gi.*\n    FROM generated_images gi\n    JOIN bot_sessions bs ON bs.id = gi.session_id\n    WHERE gi.id = {{ $json.image_id }}\n      AND bs.telegram_user_id = {{ $json.telegram_user_id }}\n    LIMIT 1\n),\n\nclear_images AS (\n    UPDATE generated_images gi\n    SET is_selected = false\n    FROM selected_image si\n    WHERE gi.session_id = si.session_id\n      AND gi.post_id = si.post_id\n    RETURNING gi.id\n),\n\nmark_image AS (\n    UPDATE generated_images gi\n    SET is_selected = true\n    FROM selected_image si\n    WHERE gi.id = si.id\n    RETURNING gi.*\n),\n\nupdate_session AS (\n    UPDATE bot_sessions bs\n    SET\n        current_image_id = (SELECT id FROM selected_image),\n        state = 'preview',\n        updated_at = now()\n    WHERE bs.id = (SELECT session_id FROM selected_image)\n    RETURNING bs.*\n)\n\nSELECT\n    mi.id AS image_id,\n    mi.session_id,\n    mi.post_id,\n    mi.batch_no AS image_batch_no,\n    mi.image_no,\n    mi.prompt,\n    mi.file_path,\n\n    us.telegram_user_id,\n    us.chat_id,\n    us.current_topic_id,\n    us.current_post_id,\n    us.current_image_id,\n    us.selected_language,\n    us.state\n\nFROM mark_image mi\nJOIN update_session us ON true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        -768
      ],
      "name": "SQL set selected image"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    bs.id AS session_id,\n    bs.telegram_user_id,\n    bs.chat_id,\n    bs.state,\n    bs.selected_language,\n\n    pt.id AS topic_id,\n    pt.title AS topic_title,\n    pt.explanation AS topic_explanation,\n    pt.relevance_now,\n    pt.source_type,\n    pt.source_company,\n\n    gp.id AS post_id,\n    gp.version AS post_version,\n    gp.post_text,\n\n    gi.id AS image_id,\n    gi.image_no,\n    gi.batch_no AS image_batch_no,\n    gi.prompt AS image_prompt,\n    gi.file_path AS image_path\n\nFROM bot_sessions bs\nJOIN post_topics pt ON pt.id = bs.current_topic_id\nJOIN generated_posts gp ON gp.id = bs.current_post_id\nJOIN generated_images gi ON gi.id = bs.current_image_id\n\nWHERE bs.id = {{ $json.session_id }}\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        -768
      ],
      "name": "SQL get preview data"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.image_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        272,
        -768
      ],
      "name": "Read selected preview image"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('SQL get preview data').first().json.chat_id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -768
      ],
      "name": "Telegram send preview image"
    },
    {
      "parameters": {
        "chatId": "={{ $('SQL get preview data').first().json.chat_id }}",
        "text": "={{ \n`Финальный предпросмотр\n\nТема:\n${$('SQL get preview data').first().json.topic_title}\n\nЯзык:\n${$('SQL get preview data').first().json.selected_language}\n\nТекст поста:\n\n${$('SQL get preview data').first().json.post_text}`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Публиковать",
                    "additionalFields": {
                      "callback_data": "approve_post"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Исправить текст",
                    "additionalFields": {
                      "callback_data": "revise_text"
                    }
                  },
                  {
                    "text": "Исправить картинку",
                    "additionalFields": {
                      "callback_data": "revise_image"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выйти",
                    "additionalFields": {
                      "callback_data": "exit"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -768
      ],
      "name": "Telegram send final preview"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').first().json.callback_data }}",
              "rightValue": "approve_post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        -448
      ],
      "name": "IF approve_post"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH current_data AS (\n    SELECT\n        bs.id AS session_id,\n        bs.telegram_user_id,\n        bs.chat_id,\n        bs.current_topic_id AS topic_id,\n        bs.current_post_id AS post_id,\n        bs.current_image_id AS image_id,\n        bs.selected_language,\n        gp.post_text AS final_text,\n        gi.file_path AS final_image_path\n    FROM bot_sessions bs\n    JOIN generated_posts gp ON gp.id = bs.current_post_id\n    JOIN generated_images gi ON gi.id = bs.current_image_id\n    WHERE bs.telegram_user_id = {{ $('Normalize Telegram Update').first().json.user_id }}\n      AND bs.state = 'preview'\n    LIMIT 1\n),\n\ninsert_approved AS (\n    INSERT INTO approved_posts (\n        session_id,\n        topic_id,\n        post_id,\n        image_id,\n        final_text,\n        final_image_path,\n        status,\n        created_at\n    )\n    SELECT\n        session_id,\n        topic_id,\n        post_id,\n        image_id,\n        final_text,\n        final_image_path,\n        'approved',\n        now()\n    FROM current_data\n    RETURNING *\n),\n\nupdate_session AS (\n    UPDATE bot_sessions bs\n    SET\n        state = 'idle',\n        updated_at = now()\n    FROM insert_approved a\n    WHERE bs.id = a.session_id\n    RETURNING\n        bs.id,\n        bs.telegram_user_id,\n        bs.chat_id,\n        bs.state\n)\n\nSELECT\n    a.id AS approved_post_id,\n    a.session_id,\n    a.topic_id,\n    a.post_id,\n    a.image_id,\n    a.status,\n    a.final_image_path,\n    s.chat_id,\n    s.telegram_user_id,\n    s.state\nFROM insert_approved a\nJOIN update_session s ON s.id = a.session_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        -560
      ],
      "name": "SQL save approved post"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ \n[\n  'Пост подтвержден и сохранен.',\n  '',\n  `Approved Post ID: ${$json.approved_post_id}`,\n  `Post ID: ${$json.post_id}`,\n  `Image ID: ${$json.image_id}`,\n  `Статус: ${$json.status}`,\n  '',\n  'Следующий шаг:',\n  '• позже можно добавить публикацию в LinkedIn',\n  '• или сразу создать новый пост'\n].join('\\n')\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создать новый пост",
                    "additionalFields": {
                      "callback_data": "create_post"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выйти",
                    "additionalFields": {
                      "callback_data": "exit"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        -560
      ],
      "name": "Telegram send approved confirmation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').first().json.callback_data }}",
              "rightValue": "exit",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        -336
      ],
      "name": "IF exit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions\nSET\n    state = 'idle',\n    current_topic_id = NULL,\n    current_post_id = NULL,\n    current_image_id = NULL,\n    selected_language = NULL,\n    updated_at = now()\nWHERE telegram_user_id = {{ $('Normalize Telegram Update').first().json.user_id }}\nRETURNING\n    id AS session_id,\n    telegram_user_id,\n    chat_id,\n    state;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        -352
      ],
      "name": "SQL exit session"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ \n[\n  'Ок, вышли из сценария.',\n  '',\n  'Текущая сессия сброшена.',\n  'Чтобы начать заново, нажми кнопку ниже.'\n].join('\\n')\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создатьь пост",
                    "additionalFields": {
                      "callback_data": "create_post"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        -352
      ],
      "name": "Telegram send exit confirmation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').first().json.callback_data }}",
              "rightValue": "revise_text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        -48
      ],
      "name": "IF revise_text"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions\nSET\n    state = 'revising_text',\n    updated_at = now()\nWHERE telegram_user_id = {{ $('Normalize Telegram Update').first().json.user_id }}\nRETURNING\n    id AS session_id,\n    telegram_user_id,\n    chat_id,\n    state,\n    current_topic_id,\n    current_post_id,\n    current_image_id,\n    selected_language;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        -160
      ],
      "name": "SQL set state revising_text"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ \n[\n  'Что нужно исправить в тексте?',\n  '',\n  'Напиши комментарий обычным сообщением.',\n  '',\n  'Примеры:',\n  '• сделать короче',\n  '• добавить больше конкретики про production pipeline',\n  '• убрать упоминание Sperasoft и Room 8 Group',\n  '• сделать тон менее рекламным'\n].join('\\n')\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Отменить",
                    "additionalFields": {
                      "callback_data": "exit"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        -160
      ],
      "name": "Telegram ask text revision comment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').first().json.event_type }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "leftValue": "={{ $('SQL get session').first().json.state }}",
              "rightValue": "revising_text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        288
      ],
      "name": "IF revising_text_message"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    bs.id AS session_id,\n    bs.telegram_user_id,\n    bs.chat_id,\n    bs.state,\n    bs.selected_language,\n    bs.current_topic_id,\n    bs.current_post_id,\n    bs.current_image_id,\n\n    pt.title AS topic_title,\n    pt.explanation AS topic_explanation,\n    pt.relevance_now,\n    pt.source_type,\n    pt.source_company,\n    pt.source_signal,\n\n    gp.id AS post_id,\n    gp.version AS current_version,\n    gp.post_text AS current_post_text,\n\n    gi.id AS image_id,\n    gi.file_path AS image_path\n\nFROM bot_sessions bs\nJOIN post_topics pt ON pt.id = bs.current_topic_id\nJOIN generated_posts gp ON gp.id = bs.current_post_id\nJOIN generated_images gi ON gi.id = bs.current_image_id\n\nWHERE bs.telegram_user_id = {{ $('Normalize Telegram Update').first().json.user_id }}\n  AND bs.state = 'revising_text'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        272
      ],
      "name": "SQL get text revision context"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nconst normalized = $('Normalize Telegram Update').first().json;\n\nconst userFeedback = String(normalized.text || '').trim();\n\nif (!userFeedback) {\n  throw new Error('Empty revision feedback');\n}\n\nconst languageMap = {\n  en: 'English',\n  ru: 'Russian',\n};\n\nconst language = languageMap[ctx.selected_language] || 'English';\n\nconst prompt = `\nYou are a senior LinkedIn editor for a B2B game development outsourcing and co-development studio.\n\nYour task:\nRewrite the current LinkedIn post based on the user's revision request.\n\nYou must use:\n1. The current post text as the base.\n2. The user's feedback as mandatory editing instructions.\n3. The original topic as context only.\n\nDo not create a completely new unrelated post.\nDo not ignore the user's feedback.\nDo not explain what you changed.\nReturn only the revised post text in JSON.\n\nOriginal topic:\n${ctx.topic_title}\n\nTopic context:\n${ctx.topic_explanation}\n\nWhy this topic is relevant now:\n${ctx.relevance_now}\n\nCurrent LinkedIn post:\n\"\"\"\n${ctx.current_post_text}\n\"\"\"\n\nUser revision request:\n\"\"\"\n${userFeedback}\n\"\"\"\n\nEditing requirements:\n- Keep the same language: ${language}\n- Keep the same core idea and audience\n- Audience: game founders, producers, studio heads, publishers, product owners\n- Make the text sound natural for LinkedIn\n- Make it sharper, more specific, and less generic\n- Avoid AI-sounding business clichés\n- Avoid empty phrases like \"unlock potential\", \"strategic lever\", \"competitive advantage\" unless truly necessary\n- Avoid mentioning specific companies unless the user's feedback explicitly asks to keep them\n- Keep a soft CTA only if it feels natural\n- Length: 900–1800 characters unless the user asks otherwise\n- No markdown\n- No hashtags unless the user asks for them\n- No emojis unless the user asks for them\n\nReturn ONLY valid JSON.\nNo markdown.\nNo explanations outside JSON.\n\nJSON format:\n{\n  \"post_text\": \"...\",\n  \"revision_summary\": \"short internal summary of what changed\"\n}\n`;\n\nreturn [\n  {\n    json: {\n      session_id: ctx.session_id,\n      telegram_user_id: ctx.telegram_user_id,\n      chat_id: ctx.chat_id,\n      topic_id: ctx.current_topic_id,\n      previous_post_id: ctx.current_post_id,\n      current_image_id: ctx.current_image_id,\n      selected_language: ctx.selected_language,\n      current_version: ctx.current_version,\n      current_post_text: ctx.current_post_text,\n      user_feedback: userFeedback,\n      prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        272
      ],
      "name": "Code prepare revised post prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2500,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        112,
        272
      ],
      "name": "OpenAI revise post"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Code prepare revised post prompt').first().json;\nconst openai = $json;\n\nlet rawText =\n  openai.output?.[0]?.content?.find(c => c.type === 'output_text')?.text\n  || openai.output?.[0]?.content?.[0]?.text\n  || openai.text\n  || openai.message\n  || '';\n\nrawText = rawText.trim();\n\nrawText = rawText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error('Cannot parse revised post JSON: ' + error.message + '\\nRaw text:\\n' + rawText);\n}\n\nif (!parsed.post_text) {\n  throw new Error('Invalid LLM response: post_text not found');\n}\n\nreturn [\n  {\n    json: {\n      session_id: source.session_id,\n      telegram_user_id: source.telegram_user_id,\n      chat_id: source.chat_id,\n      topic_id: source.topic_id,\n      previous_post_id: source.previous_post_id,\n      current_image_id: source.current_image_id,\n      language: source.selected_language,\n      post_text: parsed.post_text,\n      feedback: source.user_feedback,\n      revision_summary: parsed.revision_summary || null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        272
      ],
      "name": "Code parse revised post"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH next_version AS (\n    SELECT COALESCE(MAX(version), 0) + 1 AS version\n    FROM generated_posts\n    WHERE session_id = {{ $json.session_id }}\n      AND topic_id = {{ $json.topic_id }}\n),\n\ninsert_post AS (\n    INSERT INTO generated_posts (\n        session_id,\n        topic_id,\n        language,\n        version,\n        post_text,\n        feedback\n    )\n    VALUES (\n        {{ $json.session_id }},\n        {{ $json.topic_id }},\n        '{{ String($json.language || '').replace(/'/g, \"''\") }}',\n        (SELECT version FROM next_version),\n        '{{ String($json.post_text || '').replace(/'/g, \"''\") }}',\n        '{{ String($json.feedback || '').replace(/'/g, \"''\") }}'\n    )\n    RETURNING *\n),\n\nupdate_session AS (\n    UPDATE bot_sessions\n    SET\n        current_post_id = (SELECT id FROM insert_post),\n        state = 'preview',\n        updated_at = now()\n    WHERE id = {{ $json.session_id }}\n    RETURNING *\n)\n\nSELECT\n    p.id AS post_id,\n    p.session_id,\n    p.topic_id,\n    p.language,\n    p.version,\n    p.post_text,\n    p.feedback,\n    s.chat_id,\n    s.telegram_user_id,\n    s.current_image_id,\n    s.state\nFROM insert_post p\nJOIN update_session s ON true;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        272
      ],
      "name": "SQL insert revised post"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').first().json.callback_data }}",
              "rightValue": "revise_image",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1328,
        64
      ],
      "name": "IF revise_image"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions\nSET\n    state = 'revising_image',\n    updated_at = now()\nWHERE telegram_user_id = {{ $('Normalize Telegram Update').first().json.user_id }}\nRETURNING\n    id AS session_id,\n    telegram_user_id,\n    chat_id,\n    state,\n    current_topic_id,\n    current_post_id,\n    current_image_id,\n    selected_language;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        48
      ],
      "name": "SQL set state revising_image"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ \n[\n  'Что изменить в изображении?',\n  '',\n  'Напиши комментарий обычным сообщением.',\n  '',\n  'Примеры:',\n  '• Сделай более минималистично',\n  '• Более корпоративный стиль',\n  '• Меньше фэнтези, больше B2B',\n  '• Добавь game art vibe',\n  '• Сделай ближе к студийному продакшену',\n  '• Без текста на изображении'\n].join('\\n')\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Отменить",
                    "additionalFields": {
                      "callback_data": "exit"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        48
      ],
      "name": "Telegram ask image revision comment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').first().json.event_type }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "leftValue": "={{ $('SQL get session').first().json.state }}",
              "rightValue": "revising_image",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        560
      ],
      "name": "IF revising_image_message"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    bs.id AS session_id,\n    bs.telegram_user_id,\n    bs.chat_id,\n    bs.state,\n    bs.selected_language,\n    bs.current_topic_id,\n    bs.current_post_id,\n    bs.current_image_id,\n\n    pt.title AS topic_title,\n    pt.explanation AS topic_explanation,\n    pt.relevance_now,\n    pt.source_type,\n    pt.source_company,\n    pt.source_signal,\n\n    gp.id AS post_id,\n    gp.version AS current_post_version,\n    gp.post_text AS current_post_text,\n\n    gi.id AS image_id,\n    gi.batch_no AS current_image_batch_no,\n    gi.image_no AS current_image_no,\n    gi.prompt AS current_image_prompt,\n    gi.file_path AS current_image_path\n\nFROM bot_sessions bs\nJOIN post_topics pt ON pt.id = bs.current_topic_id\nJOIN generated_posts gp ON gp.id = bs.current_post_id\nJOIN generated_images gi ON gi.id = bs.current_image_id\n\nWHERE bs.telegram_user_id = {{ $('Normalize Telegram Update').first().json.user_id }}\n  AND bs.state = 'revising_image'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        544
      ],
      "name": "SQL get image revision context"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\nconst normalized = $('Normalize Telegram Update').first().json;\n\nconst userFeedback = String(normalized.text || '').trim();\n\nif (!userFeedback) {\n  throw new Error('Empty image revision feedback');\n}\n\nconst prompt = `\nYou are creating revised visual concepts for a LinkedIn post for a professional game development outsourcing and co-development studio.\n\nYour task:\nGenerate exactly 3 new image concepts based on:\n1. The current LinkedIn post.\n2. The original topic.\n3. The currently selected image prompt.\n4. The user's requested image changes.\n\nThe new concepts must preserve the post meaning, but adjust the visual direction according to the user's feedback.\n\nOriginal topic:\n${ctx.topic_title}\n\nTopic context:\n${ctx.topic_explanation}\n\nWhy this topic is relevant now:\n${ctx.relevance_now}\n\nCurrent LinkedIn post:\n\"\"\"\n${ctx.current_post_text}\n\"\"\"\n\nCurrently selected image prompt:\n\"\"\"\n${ctx.current_image_prompt}\n\"\"\"\n\nUser image revision request:\n\"\"\"\n${userFeedback}\n\"\"\"\n\nVisual requirements:\n- Generate exactly 3 clearly different new image concepts\n- Suitable for a LinkedIn B2B audience\n- Professional game development / studio production vibe\n- No text inside the image\n- No logos\n- No real company logos\n- No copyrighted game characters\n- Avoid childish fantasy visuals unless explicitly requested\n- Prefer clean composition and business-appropriate visual language\n- The image should support the post, not distract from it\n- Make the image prompts concrete enough for image generation\n\nReturn ONLY valid JSON.\nNo markdown.\nNo explanations outside JSON.\n\nJSON format:\n{\n  \"image_concepts\": [\n    {\n      \"title\": \"...\",\n      \"visual_concept\": \"...\",\n      \"composition\": \"...\",\n      \"style\": \"...\",\n      \"image_prompt\": \"...\",\n      \"why_it_matches\": \"...\"\n    }\n  ]\n}\n`;\n\nreturn [\n  {\n    json: {\n      session_id: ctx.session_id,\n      telegram_user_id: ctx.telegram_user_id,\n      chat_id: ctx.chat_id,\n      topic_id: ctx.current_topic_id,\n      post_id: ctx.current_post_id,\n      current_image_id: ctx.current_image_id,\n      selected_language: ctx.selected_language,\n      topic_title: ctx.topic_title,\n      current_post_text: ctx.current_post_text,\n      current_image_prompt: ctx.current_image_prompt,\n      image_feedback: userFeedback,\n      prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        544
      ],
      "name": "Code prepare revised image concepts prompt"
    },
    {
      "parameters": {
        "resource": "image",
        "model": "dall-e-2",
        "prompt": "={{ $json.prompt\n  + \"\\n\\nLinkedIn post image. No text, no logos, no real company logos, no copyrighted characters. Professional game development studio visual. Clean composition. Business appropriate.\" }}",
        "options": {
          "size": "1024x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1552,
        -272
      ],
      "name": "OpenAI generate 3 images"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -496,
        544
      ],
      "name": "OpenAI generate revised image concepts"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Code prepare revised image concepts prompt').first().json;\nconst openai = $json;\n\nlet rawText =\n  openai.output?.[0]?.content?.find(c => c.type === 'output_text')?.text\n  || openai.output?.[0]?.content?.[0]?.text\n  || openai.text\n  || openai.message\n  || '';\n\nrawText = rawText.trim();\n\nrawText = rawText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error('Cannot parse revised image concepts JSON: ' + error.message + '\\nRaw text:\\n' + rawText);\n}\n\nif (!parsed.image_concepts || !Array.isArray(parsed.image_concepts)) {\n  throw new Error('Invalid LLM response: image_concepts array not found');\n}\n\nif (parsed.image_concepts.length !== 3) {\n  throw new Error(`Expected 3 image concepts, got ${parsed.image_concepts.length}`);\n}\n\nconst imageConcepts = parsed.image_concepts.map((concept, index) => {\n  return {\n    image_no: index + 1,\n    concept_title: concept.title || '',\n    visual_concept: concept.visual_concept || '',\n    composition: concept.composition || '',\n    style: concept.style || '',\n    image_prompt: concept.image_prompt || '',\n    why_it_matches: concept.why_it_matches || ''\n  };\n});\n\nreturn [\n  {\n    json: {\n      session_id: source.session_id,\n      topic_id: source.topic_id,\n      post_id: source.post_id,\n      chat_id: source.chat_id,\n      telegram_user_id: source.telegram_user_id,\n      selected_language: source.selected_language,\n      current_image_id: source.current_image_id,\n      image_feedback: source.image_feedback,\n      image_concepts: imageConcepts,\n      raw_llm_json: parsed\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        544
      ],
      "name": "Code parse revised image concepts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions\nSET\n    images_batch_no = images_batch_no + 1,\n    updated_at = now()\nWHERE id = {{ $json.session_id }}\nRETURNING\n    id AS session_id,\n    telegram_user_id,\n    chat_id,\n    current_post_id,\n    images_batch_no;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        544
      ],
      "name": "SQL increment revised images batch"
    },
    {
      "parameters": {
        "jsCode": "const conceptsData = $('Code parse revised image concepts').first().json;\nconst batch = $json;\n\nconst concepts = conceptsData.image_concepts || [];\n\nif (concepts.length !== 3) {\n  throw new Error(`Expected 3 image concepts, got ${concepts.length}`);\n}\n\nreturn concepts.map((concept) => {\n  return {\n    json: {\n      session_id: conceptsData.session_id,\n      topic_id: conceptsData.topic_id,\n      post_id: conceptsData.post_id,\n      chat_id: conceptsData.chat_id,\n      telegram_user_id: conceptsData.telegram_user_id,\n\n      image_batch_no: batch.images_batch_no,\n      image_no: concept.image_no,\n\n      concept_title: concept.concept_title,\n      visual_concept: concept.visual_concept,\n      composition: concept.composition,\n      style: concept.style,\n      image_prompt: concept.image_prompt,\n      why_it_matches: concept.why_it_matches,\n      image_feedback: conceptsData.image_feedback\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        544
      ],
      "name": "Code expand revised image concepts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO generated_images (\n    session_id,\n    post_id,\n    batch_no,\n    image_no,\n    prompt,\n    image_url,\n    file_path,\n    is_selected\n)\nVALUES (\n    {{ $json.session_id }},\n    {{ $json.post_id }},\n    {{ $json.image_batch_no }},\n    {{ $json.image_no }},\n    '{{ String($json.image_prompt || '').replace(/'/g, \"''\") }}',\n    NULL,\n    NULL,\n    false\n)\nRETURNING\n    id AS image_id,\n    session_id,\n    post_id,\n    batch_no AS image_batch_no,\n    image_no,\n    prompt,\n    image_url,\n    file_path,\n    is_selected,\n    created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        544
      ],
      "name": "SQL insert revised image prompts"
    },
    {
      "parameters": {
        "resource": "image",
        "model": "dall-e-2",
        "prompt": "={{ $json.prompt\n  + \"\\n\\nLinkedIn post image. No text, no logos, no real company logos, no copyrighted characters. Professional game development studio visual. Clean composition. Business appropriate.\"\n}}",
        "options": {
          "size": "1024x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        592,
        544
      ],
      "name": "OpenAI generate revised image"
    },
    {
      "parameters": {
        "jsCode": "const generatedItems = $input.all();\nconst sourceItems = $('SQL insert revised image prompts').all();\n\nif (generatedItems.length !== sourceItems.length) {\n  throw new Error(\n    `Items count mismatch: generated=${generatedItems.length}, source=${sourceItems.length}`\n  );\n}\n\nreturn generatedItems.map((item, index) => {\n  const src = sourceItems[index].json;\n\n  const dirPath = `/files/linkedin_images`;\n\n  const filePath =\n    `${dirPath}/session_${src.session_id}_post_${src.post_id}_batch_${src.image_batch_no}_image_${src.image_no}_${src.image_id}.png`;\n\n  return {\n    json: {\n      image_id: src.image_id,\n      session_id: src.session_id,\n      post_id: src.post_id,\n      image_batch_no: src.image_batch_no,\n      image_no: src.image_no,\n      prompt: src.prompt,\n      image_url: src.image_url,\n      is_selected: src.is_selected,\n      created_at: src.created_at,\n      dir_path: dirPath,\n      file_path: filePath,\n    },\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        544
      ],
      "name": "Code attach revised image metadata"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        976,
        544
      ],
      "name": "Write revised image to disk"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE generated_images\nSET\n    file_path = '{{ String($json.file_path || '').replace(/'/g, \"''\") }}',\n    image_url = NULL\nWHERE id = {{ $json.image_id }}\nRETURNING\n    id AS image_id,\n    session_id,\n    post_id,\n    batch_no AS image_batch_no,\n    image_no,\n    prompt,\n    image_url,\n    file_path,\n    is_selected,\n    created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        544
      ],
      "name": "SQL update revised generated image file"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1360,
        544
      ],
      "name": "Read revised image files"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Code parse revised image concepts').first().json.chat_id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        544
      ],
      "name": "Telegram send revised image previews"
    },
    {
      "parameters": {
        "jsCode": "const images = $('SQL update revised generated image file').all().map(item => item.json);\n\nif (images.length !== 3) {\n  throw new Error(`Expected 3 images, got ${images.length}`);\n}\n\nimages.sort((a, b) => Number(a.image_no) - Number(b.image_no));\n\nfor (const img of images) {\n  if (!img.image_id) {\n    throw new Error(`Image without image_id: ${JSON.stringify(img)}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      chat_id: $('Code parse revised image concepts').first().json.chat_id,\n\n      image_1_id: images[0].image_id,\n      image_2_id: images[1].image_id,\n      image_3_id: images[2].image_id,\n\n      image_1_no: images[0].image_no,\n      image_2_no: images[1].image_no,\n      image_3_no: images[2].image_no\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        544
      ],
      "name": "Code prepare revised image choice"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Выбери картинку:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выбрать 1",
                    "additionalFields": {
                      "callback_data": "={{ 'select_image:' + $json.image_1_id }}"
                    }
                  },
                  {
                    "text": "Выбрать 2",
                    "additionalFields": {
                      "callback_data": "={{ 'select_image:' + $json.image_2_id }}"
                    }
                  },
                  {
                    "text": "Выбрать 3",
                    "additionalFields": {
                      "callback_data": "={{ 'select_image:' + $json.image_3_id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Сгенерировать еще",
                    "additionalFields": {
                      "callback_data": "more_images"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выход",
                    "additionalFields": {
                      "callback_data": "exit"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        544
      ],
      "name": "Telegram ask revised image choice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').first().json.callback_data }}",
              "rightValue": "more_images",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        272
      ],
      "name": "IF more_images"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    bs.id AS session_id,\n    bs.telegram_user_id,\n    bs.chat_id,\n    bs.state,\n    bs.selected_language,\n    bs.current_topic_id,\n    bs.current_post_id,\n    bs.current_image_id,\n    bs.images_batch_no,\n\n    pt.title AS topic_title,\n    pt.explanation AS topic_explanation,\n    pt.relevance_now,\n    pt.source_type,\n    pt.source_company,\n    pt.source_signal,\n\n    gp.id AS post_id,\n    gp.version AS current_post_version,\n    gp.post_text AS current_post_text,\n\n    selected_img.id AS selected_image_id,\n    selected_img.prompt AS selected_image_prompt,\n    selected_img.file_path AS selected_image_path,\n\n    COALESCE(\n        json_agg(\n            json_build_object(\n                'image_id', gi.id,\n                'batch_no', gi.batch_no,\n                'image_no', gi.image_no,\n                'prompt', gi.prompt,\n                'file_path', gi.file_path\n            )\n            ORDER BY gi.batch_no ASC, gi.image_no ASC\n        ) FILTER (WHERE gi.id IS NOT NULL),\n        '[]'::json\n    ) AS previous_images\n\nFROM bot_sessions bs\nJOIN post_topics pt ON pt.id = bs.current_topic_id\nJOIN generated_posts gp ON gp.id = bs.current_post_id\n\nLEFT JOIN generated_images selected_img\n    ON selected_img.id = bs.current_image_id\n\nLEFT JOIN generated_images gi\n    ON gi.post_id = bs.current_post_id\n\nWHERE bs.telegram_user_id = {{ $('Normalize Telegram Update').first().json.user_id }}\n  AND bs.current_post_id IS NOT NULL\n\nGROUP BY\n    bs.id,\n    pt.id,\n    gp.id,\n    selected_img.id\n\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        -480
      ],
      "name": "SQL get more images context"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json;\n\nlet previousImages = ctx.previous_images || [];\n\nif (typeof previousImages === 'string') {\n  try {\n    previousImages = JSON.parse(previousImages);\n  } catch (e) {\n    previousImages = [];\n  }\n}\n\nif (!Array.isArray(previousImages)) {\n  previousImages = [];\n}\n\nconst previousPrompts = previousImages\n  .map((img, index) => {\n    return `${index + 1}. Batch ${img.batch_no}, image ${img.image_no}: ${img.prompt}`;\n  })\n  .join('\\n');\n\nconst prompt = `\nYou are creating additional visual concepts for a LinkedIn post for a professional game development outsourcing and co-development studio.\n\nYour task:\nGenerate exactly 3 NEW image concepts for the same LinkedIn post.\n\nImportant:\n- Do not repeat previous image ideas.\n- Do not create near-duplicates of previous prompts.\n- Keep the same post meaning.\n- Make the new concepts visually different from previous generations.\n- Keep the result suitable for B2B LinkedIn.\n- No text inside the image.\n- No logos.\n- No real company logos.\n- No copyrighted game characters.\n- Avoid childish fantasy visuals.\n- Prefer professional game development / studio production / pipeline / teamwork / production planning visuals.\n\nOriginal topic:\n${ctx.topic_title}\n\nTopic context:\n${ctx.topic_explanation}\n\nCurrent LinkedIn post:\n\"\"\"\n${ctx.current_post_text}\n\"\"\"\n\nCurrently selected image prompt:\n\"\"\"\n${ctx.selected_image_prompt || 'No image selected yet'}\n\"\"\"\n\nPrevious image prompts:\n\"\"\"\n${previousPrompts || 'No previous image prompts found'}\n\"\"\"\n\nVisual requirements:\n- Generate exactly 3 clearly different new image concepts\n- Suitable for a LinkedIn B2B audience\n- Professional game development studio vibe\n- Business-appropriate visual language\n- Clean composition\n- No text inside the image\n- No logos\n- No recognizable game characters\n- Make image prompts concrete enough for image generation\n\nReturn ONLY valid JSON.\nNo markdown.\nNo explanations outside JSON.\n\nJSON format:\n{\n  \"image_concepts\": [\n    {\n      \"title\": \"...\",\n      \"visual_concept\": \"...\",\n      \"composition\": \"...\",\n      \"style\": \"...\",\n      \"image_prompt\": \"...\",\n      \"why_it_matches\": \"...\"\n    }\n  ]\n}\n`;\n\nreturn [\n  {\n    json: {\n      session_id: ctx.session_id,\n      telegram_user_id: ctx.telegram_user_id,\n      chat_id: ctx.chat_id,\n      topic_id: ctx.current_topic_id,\n      post_id: ctx.current_post_id,\n      current_image_id: ctx.current_image_id,\n      selected_language: ctx.selected_language,\n      current_post_text: ctx.current_post_text,\n      previous_images: previousImages,\n      prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -480
      ],
      "name": "Code prepare more image concepts prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        128,
        -480
      ],
      "name": "OpenAI generate more image concepts"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Code prepare more image concepts prompt').first().json;\nconst openai = $json;\n\nlet rawText =\n  openai.output?.[0]?.content?.find(c => c.type === 'output_text')?.text\n  || openai.output?.[0]?.content?.[0]?.text\n  || openai.text\n  || openai.message\n  || '';\n\nrawText = rawText.trim();\n\nrawText = rawText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error('Cannot parse more image concepts JSON: ' + error.message + '\\nRaw text:\\n' + rawText);\n}\n\nif (!parsed.image_concepts || !Array.isArray(parsed.image_concepts)) {\n  throw new Error('Invalid LLM response: image_concepts array not found');\n}\n\nif (parsed.image_concepts.length !== 3) {\n  throw new Error(`Expected 3 image concepts, got ${parsed.image_concepts.length}`);\n}\n\nconst imageConcepts = parsed.image_concepts.map((concept, index) => {\n  return {\n    image_no: index + 1,\n    concept_title: concept.title || '',\n    visual_concept: concept.visual_concept || '',\n    composition: concept.composition || '',\n    style: concept.style || '',\n    image_prompt: concept.image_prompt || '',\n    why_it_matches: concept.why_it_matches || ''\n  };\n});\n\nreturn [\n  {\n    json: {\n      session_id: source.session_id,\n      topic_id: source.topic_id,\n      post_id: source.post_id,\n      chat_id: source.chat_id,\n      telegram_user_id: source.telegram_user_id,\n      selected_language: source.selected_language,\n      current_image_id: source.current_image_id,\n      image_concepts: imageConcepts,\n      raw_llm_json: parsed\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -480
      ],
      "name": "Code parse more image concepts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_sessions\nSET\n    images_batch_no = images_batch_no + 1,\n    state = 'generating_images',\n    updated_at = now()\nWHERE id = {{ $json.session_id }}\nRETURNING\n    id AS session_id,\n    telegram_user_id,\n    chat_id,\n    current_post_id,\n    current_image_id,\n    images_batch_no,\n    state;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        -480
      ],
      "name": "SQL increment more images batch"
    },
    {
      "parameters": {
        "jsCode": "const conceptsData = $('Code parse more image concepts').first().json;\nconst batch = $json;\n\nconst concepts = conceptsData.image_concepts || [];\n\nif (concepts.length !== 3) {\n  throw new Error(`Expected 3 image concepts, got ${concepts.length}`);\n}\n\nreturn concepts.map((concept) => {\n  return {\n    json: {\n      session_id: conceptsData.session_id,\n      topic_id: conceptsData.topic_id,\n      post_id: conceptsData.post_id,\n      chat_id: conceptsData.chat_id,\n      telegram_user_id: conceptsData.telegram_user_id,\n\n      image_batch_no: batch.images_batch_no,\n      image_no: concept.image_no,\n\n      concept_title: concept.concept_title,\n      visual_concept: concept.visual_concept,\n      composition: concept.composition,\n      style: concept.style,\n      image_prompt: concept.image_prompt,\n      why_it_matches: concept.why_it_matches\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -224
      ],
      "name": "Code expand more image concepts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO generated_images (\n    session_id,\n    post_id,\n    batch_no,\n    image_no,\n    prompt,\n    image_url,\n    file_path,\n    is_selected\n)\nVALUES (\n    {{ $json.session_id }},\n    {{ $json.post_id }},\n    {{ $json.image_batch_no }},\n    {{ $json.image_no }},\n    '{{ String($json.image_prompt || '').replace(/'/g, \"''\") }}',\n    NULL,\n    NULL,\n    false\n)\nRETURNING\n    id AS image_id,\n    session_id,\n    post_id,\n    batch_no AS image_batch_no,\n    image_no,\n    prompt,\n    image_url,\n    file_path,\n    is_selected,\n    created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        -224
      ],
      "name": "SQL insert more image prompts"
    },
    {
      "parameters": {
        "resource": "image",
        "model": "dall-e-2",
        "prompt": "={{ $json.prompt\n  + \"\\n\\nLinkedIn post image. No text, no logos, no real company logos, no copyrighted characters. Professional game development studio visual. Clean composition. Business appropriate.\"\n}}",
        "options": {
          "size": "1024x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        192,
        -224
      ],
      "name": "OpenAI generate more image"
    },
    {
      "parameters": {
        "jsCode": "const generatedItems = $input.all();\nconst sourceItems = $('SQL insert more image prompts').all();\n\nif (generatedItems.length !== sourceItems.length) {\n  throw new Error(\n    `Items count mismatch: generated=${generatedItems.length}, source=${sourceItems.length}`\n  );\n}\n\nreturn generatedItems.map((item, index) => {\n  const src = sourceItems[index].json;\n\n  const dirPath = `/files/linkedin_images`;\n\n  const filePath =\n    `${dirPath}/session_${src.session_id}_post_${src.post_id}_batch_${src.image_batch_no}_image_${src.image_no}_${src.image_id}.png`;\n\n  return {\n    json: {\n      image_id: src.image_id,\n      session_id: src.session_id,\n      post_id: src.post_id,\n      image_batch_no: src.image_batch_no,\n      image_no: src.image_no,\n      prompt: src.prompt,\n      image_url: src.image_url,\n      is_selected: src.is_selected,\n      created_at: src.created_at,\n      dir_path: dirPath,\n      file_path: filePath,\n    },\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -224
      ],
      "name": "Code attach more image metadata"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        576,
        -224
      ],
      "name": "Write more image to disk"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE generated_images\nSET\n    file_path = '{{ String($json.file_path || '').replace(/'/g, \"''\") }}',\n    image_url = NULL\nWHERE id = {{ $json.image_id }}\nRETURNING\n    id AS image_id,\n    session_id,\n    post_id,\n    batch_no AS image_batch_no,\n    image_no,\n    prompt,\n    image_url,\n    file_path,\n    is_selected,\n    created_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -144,
        32
      ],
      "name": "SQL update more generated image file"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        32,
        32
      ],
      "name": "Read more image files"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Code parse more image concepts').first().json.chat_id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        32
      ],
      "name": "Telegram send more image previews"
    },
    {
      "parameters": {
        "jsCode": "const images = $('SQL update more generated image file').all().map(item => item.json);\n\nif (images.length !== 3) {\n  throw new Error(`Expected 3 images, got ${images.length}`);\n}\n\nimages.sort((a, b) => Number(a.image_no) - Number(b.image_no));\n\nfor (const img of images) {\n  if (!img.image_id) {\n    throw new Error(`Image without image_id: ${JSON.stringify(img)}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      chat_id: $('Code parse more image concepts').first().json.chat_id,\n\n      image_1_id: images[0].image_id,\n      image_2_id: images[1].image_id,\n      image_3_id: images[2].image_id,\n\n      image_1_no: images[0].image_no,\n      image_2_no: images[1].image_no,\n      image_3_no: images[2].image_no\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        32
      ],
      "name": "Code prepare more image choice"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Выбери картинку:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выбрать 1",
                    "additionalFields": {
                      "callback_data": "={{ 'select_image:' + $json.image_1_id }}"
                    }
                  },
                  {
                    "text": "Выбрать 2",
                    "additionalFields": {
                      "callback_data": "={{ 'select_image:' + $json.image_2_id }}"
                    }
                  },
                  {
                    "text": "Выбрать 3",
                    "additionalFields": {
                      "callback_data": "={{ 'select_image:' + $json.image_3_id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Сгенерировать еще",
                    "additionalFields": {
                      "callback_data": "more_images"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выход",
                    "additionalFields": {
                      "callback_data": "exit"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        32
      ],
      "name": "Telegram ask more image choice"
    },
    {
      "parameters": {
        "content": "",
        "height": 1392,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -1056
      ],
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 784,
        "width": 1062,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -560
      ],
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 1760,
        "width": 960,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2624,
        -1104
      ],
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Telegram Update').first().json;\nconst session = $('SQL get session').first().json;\n\nconst state = session.state || 'unknown';\nconst eventType = normalized.event_type || 'unknown';\nconst callbackData = normalized.callback_data || null;\nconst text = normalized.text || null;\n\nlet message = '';\n\nif (eventType === 'callback_query') {\n  message = [\n    'Неизвестная кнопка или действие уже устарело.',\n    '',\n    `Callback: ${callbackData || 'нет данных'}`,\n    `Текущее состояние: ${state}`,\n    '',\n    'Можно начать новый пост или выйти из сценария.'\n  ].join('\\n');\n} else if (state === 'revising_text') {\n  message = [\n    'Сейчас я жду комментарий для правки текста.',\n    '',\n    'Напиши, что именно изменить в посте.',\n    '',\n    'Пример:',\n    'Сделай короче и убери рекламный тон.'\n  ].join('\\n');\n} else if (state === 'revising_image') {\n  message = [\n    'Сейчас я жду комментарий для правки картинки.',\n    '',\n    'Напиши, что изменить в изображении.',\n    '',\n    'Пример:',\n    'Меньше фэнтези, больше B2B, без текста на картинке.'\n  ].join('\\n');\n} else if (state === 'choosing_topic') {\n  message = [\n    'Сейчас нужно выбрать тему из списка выше.',\n    '',\n    'Нажми одну из кнопок с номером темы.',\n    '',\n    'Или создай новый набор тем.'\n  ].join('\\n');\n} else if (state === 'choosing_language') {\n  message = [\n    'Сейчас нужно выбрать язык поста.',\n    '',\n    'Нажми кнопку English или Russian под сообщением выше.'\n  ].join('\\n');\n} else if (state === 'preview') {\n  message = [\n    'Сейчас открыт финальный предпросмотр.',\n    '',\n    'Используй кнопки под предпросмотром:',\n    '• Публиковать',\n    '• Исправить текст',\n    '• Исправить картинку',\n    '• Выйти'\n  ].join('\\n');\n} else if (state.startsWith('generating')) {\n  message = [\n    'Сейчас идет генерация.',\n    '',\n    'Лучше дождаться результата и не нажимать кнопки повторно.'\n  ].join('\\n');\n} else {\n  message = [\n    'Не понял команду.',\n    '',\n    'Можно начать создание нового LinkedIn-поста.'\n  ].join('\\n');\n}\n\nreturn [\n  {\n    json: {\n      chat_id: normalized.chat_id || session.chat_id,\n      telegram_user_id: normalized.user_id || session.telegram_user_id,\n      state,\n      event_type: eventType,\n      callback_data: callbackData,\n      text,\n      message_text: message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        304
      ],
      "name": "Code prepare fallback message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создать новый пост",
                    "additionalFields": {
                      "callback_data": "create_post"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выйти",
                    "additionalFields": {
                      "callback_data": "exit"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1280,
        304
      ],
      "name": "Telegram send fallback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Normalize Telegram Update').item.json.callback_data }}",
              "rightValue": "create_post",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "leftValue": "={{ String($('Normalize Telegram Update').first().json.text || '') }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1888,
        -1056
      ],
      "name": "IF create_post_or_start"
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\n\n// ---------- previous topics anti-duplicate ----------\nconst previousNode = $('SQL get previous topics for anti-duplicate').first().json;\n\nlet previousTopics = previousNode.previous_topics || [];\n\nif (typeof previousTopics === 'string') {\n  try {\n    previousTopics = JSON.parse(previousTopics);\n  } catch (e) {\n    previousTopics = [];\n  }\n}\n\nif (!Array.isArray(previousTopics)) {\n  previousTopics = [];\n}\n\nconst previousTopicsText = previousTopics\n  .map((t, index) => {\n    return `${index + 1}. [${t.source_type}${t.source_company ? ' / ' + t.source_company : ''}] ${t.title}`;\n  })\n  .join('\\n');\n\n// ---------- LinkedIn signals ----------\nconst linkedinSignals = String(source.linkedin_signals || '').trim();\n\nif (!linkedinSignals) {\n  throw new Error('LinkedIn signals are empty');\n}\n\n// ---------- prompt ----------\nconst prompt = `\nYou are a senior B2B content strategist for a game development outsourcing and co-development studio.\n\nGenerate exactly 6 strong LinkedIn post topics based on LinkedIn-derived public signals.\n\nBusiness context:\n- The company works in game development, game art, co-development, outsource production, feature development, live ops, game testing, and full-cycle production.\n- The audience includes game founders, producers, studio heads, publishing managers, product owners, and decision-makers in game companies.\n\nRequirements:\n- Focus only on game development and adjacent studio services.\n- No recruiting topics.\n- No employer branding topics.\n- No event announcement topics.\n- No bootcamp, internship, hiring, job fair, career, or vacancy topics.\n- Do not copy company posts.\n- Convert source signals into useful B2B thought-leadership topics.\n- Topics must be specific, practical, commercially relevant, and suitable for LinkedIn.\n- Avoid duplicates and near-duplicates.\n- Prefer slightly opinionated titles suitable for LinkedIn feed.\n- Prefer topics connected to real production pain: cost, quality, timelines, risk, pipelines, live ops, QA, art production, co-development, external partners, scalability.\n- Source type must always be \"linkedin\".\n- Score must be from 1 to 10.\n\nAlready shown topics in this Telegram session:\n${previousTopicsText || 'No previous topics yet.'}\n\nAnti-duplicate requirements:\n- Do not generate the same topics.\n- Do not generate near-duplicates of already shown topics.\n- Do not simply rewrite existing topics with different wording.\n- If the source signal points to a similar idea, choose a different angle, narrower problem, different audience, or different production pain.\n- If there are not enough completely new ideas, generate more specific sub-topics instead of repeating broad themes.\n\nReturn ONLY valid JSON.\nNo markdown.\nNo explanations outside JSON.\n\nJSON format:\n{\n  \"topics\": [\n    {\n      \"title\": \"...\",\n      \"explanation\": \"...\",\n      \"relevance_now\": \"...\",\n      \"source_type\": \"linkedin\",\n      \"source_company\": \"...\",\n      \"source_url\": null,\n      \"source_signal\": \"...\",\n      \"score\": 8\n    }\n  ]\n}\n\nLinkedIn signals:\n${linkedinSignals}\n`;\n\nreturn [\n  {\n    json: {\n      session_id: source.session_id,\n      telegram_user_id: source.telegram_user_id,\n      chat_id: source.chat_id,\n      batch_id: source.batch_id,\n      batch_no: source.batch_no,\n      source_type: 'linkedin',\n\n      prompt,\n      linkedin_signals: linkedinSignals,\n\n      previous_topics_count: previousTopics.length,\n      previous_topics: previousTopics,\n\n      parsed_pages: source.parsed_pages,\n      used_chunks: source.used_chunks,\n      final_corpus_size: source.final_corpus_size,\n      used_fallback: source.used_fallback,\n      company_stats: source.company_stats,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        -624
      ],
      "name": "Code prepare LinkedIn topics prompt"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH previous AS (\n    SELECT\n        pt.id,\n        pt.batch_no,\n        pt.topic_no,\n        pt.title,\n        pt.explanation,\n        pt.source_type,\n        pt.source_company,\n        pt.created_at\n    FROM post_topics pt\n    WHERE pt.session_id = {{ $('SQL create session').first().json.id }}\n      AND pt.batch_id <> {{ $('SQL create topic_batch').first().json.id }}\n    ORDER BY pt.created_at DESC, pt.id DESC\n    LIMIT 36\n)\n\nSELECT\n    COALESCE(\n        json_agg(\n            json_build_object(\n                'batch_no', batch_no,\n                'topic_no', topic_no,\n                'title', title,\n                'explanation', explanation,\n                'source_type', source_type,\n                'source_company', source_company\n            )\n        ),\n        '[]'::json\n    ) AS previous_topics,\n    COUNT(*) AS previous_topics_count\nFROM previous;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1840,
        -848
      ],
      "name": "SQL get previous topics for anti-duplicate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH all_chunks AS (\n    SELECT\n        c.id AS chunk_id,\n        c.chunk_no,\n        c.chunk_text,\n        c.chunk_hash,\n        s.company_key,\n        s.company_name,\n        s.company_url,\n        s.category,\n        md5(c.id::text || '-' || {{ $('SQL create topic_batch').first().json.batch_no }}) AS rotation_key\n    FROM linkedin_source_chunks c\n    JOIN linkedin_sources s ON s.id = c.source_id\n    WHERE s.is_active = true\n      AND c.is_active = true\n),\n\nranked AS (\n    SELECT\n        *,\n        ROW_NUMBER() OVER (\n            PARTITION BY company_key\n            ORDER BY rotation_key\n        ) AS rn_company,\n\n        ROW_NUMBER() OVER (\n            PARTITION BY category\n            ORDER BY rotation_key\n        ) AS rn_category\n    FROM all_chunks\n),\n\nbalanced AS (\n    SELECT *\n    FROM ranked\n    WHERE rn_company <= 2\n      AND rn_category <= 8\n),\n\nselected AS (\n    SELECT *\n    FROM balanced\n    ORDER BY md5(category || '-' || company_key || '-' || chunk_id::text || '-' || {{ $('SQL create topic_batch').first().json.batch_no }})\n    LIMIT 30\n)\n\nSELECT\n    COALESCE(\n        json_agg(\n            json_build_object(\n                'chunk_id', chunk_id,\n                'chunk_no', chunk_no,\n                'chunk_text', chunk_text,\n                'company_key', company_key,\n                'company_name', company_name,\n                'company_url', company_url,\n                'category', category\n            )\n        ),\n        '[]'::json\n    ) AS linkedin_chunks,\n    COUNT(*)::int AS selected_chunks\nFROM selected;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2496,
        -624
      ],
      "name": "SQL get LinkedIn chunks for topics"
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\n\nlet chunks = row.linkedin_chunks || [];\n\nif (typeof chunks === 'string') {\n  try {\n    chunks = JSON.parse(chunks);\n  } catch (e) {\n    chunks = [];\n  }\n}\n\nif (!Array.isArray(chunks)) {\n  chunks = [];\n}\n\nif (chunks.length === 0) {\n  throw new Error('No LinkedIn chunks found in DB. Run Refresh LinkedIn Corpus workflow first.');\n}\n\nconst session = $('SQL create session').first().json;\nconst batch = $('SQL create topic_batch').first().json;\n\nconst linkedinSignals = chunks.map((chunk) => {\n  return [\n    `[SOURCE_COMPANY: ${chunk.company_name}]`,\n    `[CATEGORY: ${chunk.category || 'unknown'}]`,\n    chunk.chunk_text\n  ].join('\\n');\n}).join('\\n\\n---\\n\\n');\n\nconst companyStats = {};\n\nfor (const chunk of chunks) {\n  const key = chunk.company_name || 'unknown';\n  companyStats[key] = (companyStats[key] || 0) + 1;\n}\n\nreturn [\n  {\n    json: {\n      session_id: session.id,\n      telegram_user_id: session.telegram_user_id,\n      chat_id: session.chat_id,\n\n      batch_id: batch.id,\n      batch_no: batch.batch_no,\n      source_type: 'linkedin',\n\n      linkedin_signals: linkedinSignals,\n      selected_chunks: chunks.length,\n      linkedin_chunks: chunks,\n\n      parsed_pages: null,\n      used_chunks: chunks.length,\n      final_corpus_size: linkedinSignals.length,\n      used_fallback: false,\n      company_stats: companyStats\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        -624
      ],
      "name": "Code build LinkedIn corpus from DB"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL get session": {
      "main": [
        [
          {
            "node": "IF create_post_or_start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Update": {
      "main": [
        [
          {
            "node": "SQL get session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL create session": {
      "main": [
        [
          {
            "node": "Send Собираю 12 тем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Собираю 12 тем": {
      "main": [
        [
          {
            "node": "SQL create topic_batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL create topic_batch": {
      "main": [
        [
          {
            "node": "SQL get previous topics for anti-duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI generate LinkedIn topics": {
      "main": [
        [
          {
            "node": "Code parse LinkedIn topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code parse LinkedIn topics": {
      "main": [
        [
          {
            "node": "SQL insert LinkedIn topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL insert LinkedIn topics": {
      "main": [
        [
          {
            "node": "RSS Read GameDeveloper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read GameDeveloper": {
      "main": [
        [
          {
            "node": "Code prepare Internet topics prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare Internet topics prompt": {
      "main": [
        [
          {
            "node": "OpenAI generate Internet topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI generate Internet topics": {
      "main": [
        [
          {
            "node": "Code parse Internet topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code parse Internet topics": {
      "main": [
        [
          {
            "node": "SQL insert Internet topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL insert Internet topics": {
      "main": [
        [
          {
            "node": "Code prepare batch context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare batch context": {
      "main": [
        [
          {
            "node": "SQL get 12 topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL get 12 topics": {
      "main": [
        [
          {
            "node": "Code format topics for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code format topics for Telegram": {
      "main": [
        [
          {
            "node": "SQL update state choosing_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL update state choosing_topic": {
      "main": [
        [
          {
            "node": "Telegram send 12 topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF select_topic": {
      "main": [
        [
          {
            "node": "Code parse selected topic id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code parse selected topic id": {
      "main": [
        [
          {
            "node": "SQL set selected topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL set selected topic": {
      "main": [
        [
          {
            "node": "Telegram ask language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF language": {
      "main": [
        [
          {
            "node": "Code parse language",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF select_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code parse language": {
      "main": [
        [
          {
            "node": "SQL set language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL set language": {
      "main": [
        [
          {
            "node": "SQL get selected topic for post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL get selected topic for post": {
      "main": [
        [
          {
            "node": "Code prepare post prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare post prompt": {
      "main": [
        [
          {
            "node": "OpenAI generate post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI generate post": {
      "main": [
        [
          {
            "node": "Code parse generated post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code parse generated post": {
      "main": [
        [
          {
            "node": "SQL insert generated post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL insert generated post": {
      "main": [
        [
          {
            "node": "Code prepare image concepts prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare image concepts prompt": {
      "main": [
        [
          {
            "node": "OpenAI generate image concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI generate image concepts": {
      "main": [
        [
          {
            "node": "Code parse image concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code parse image concepts": {
      "main": [
        [
          {
            "node": "SQL increment images batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL increment images batch": {
      "main": [
        [
          {
            "node": "Code expand image concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code expand image concepts": {
      "main": [
        [
          {
            "node": "SQL insert image prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL insert image prompts": {
      "main": [
        [
          {
            "node": "OpenAI generate 3 images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code attach image metadata": {
      "main": [
        [
          {
            "node": "Write image to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write image to disk": {
      "main": [
        [
          {
            "node": "SQL update generated image file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL update generated image file": {
      "main": [
        [
          {
            "node": "Read image files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read image files": {
      "main": [
        [
          {
            "node": "Telegram send image previews",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code prepare image choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare image choice": {
      "main": [
        [
          {
            "node": "Telegram ask image choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF select_image": {
      "main": [
        [
          {
            "node": "Code parse selected image id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF approve_post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code parse selected image id": {
      "main": [
        [
          {
            "node": "SQL set selected image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL set selected image": {
      "main": [
        [
          {
            "node": "SQL get preview data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL get preview data": {
      "main": [
        [
          {
            "node": "Read selected preview image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read selected preview image": {
      "main": [
        [
          {
            "node": "Telegram send preview image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram send final preview": {
      "main": [
        []
      ]
    },
    "Telegram send preview image": {
      "main": [
        [
          {
            "node": "Telegram send final preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF approve_post": {
      "main": [
        [
          {
            "node": "SQL save approved post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL save approved post": {
      "main": [
        [
          {
            "node": "Telegram send approved confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF exit": {
      "main": [
        [
          {
            "node": "SQL exit session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF revise_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL exit session": {
      "main": [
        [
          {
            "node": "Telegram send exit confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF revise_text": {
      "main": [
        [
          {
            "node": "SQL set state revising_text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF revise_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL set state revising_text": {
      "main": [
        [
          {
            "node": "Telegram ask text revision comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF revising_text_message": {
      "main": [
        [
          {
            "node": "SQL get text revision context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF revising_image_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL get text revision context": {
      "main": [
        [
          {
            "node": "Code prepare revised post prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare revised post prompt": {
      "main": [
        [
          {
            "node": "OpenAI revise post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI revise post": {
      "main": [
        [
          {
            "node": "Code parse revised post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code parse revised post": {
      "main": [
        [
          {
            "node": "SQL insert revised post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL insert revised post": {
      "main": [
        [
          {
            "node": "SQL get preview data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF revise_image": {
      "main": [
        [
          {
            "node": "SQL set state revising_image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF more_images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL set state revising_image": {
      "main": [
        [
          {
            "node": "Telegram ask image revision comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF revising_image_message": {
      "main": [
        [
          {
            "node": "SQL get image revision context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code prepare fallback message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL get image revision context": {
      "main": [
        [
          {
            "node": "Code prepare revised image concepts prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare revised image concepts prompt": {
      "main": [
        [
          {
            "node": "OpenAI generate revised image concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI generate 3 images": {
      "main": [
        [
          {
            "node": "Code attach image metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI generate revised image concepts": {
      "main": [
        [
          {
            "node": "Code parse revised image concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code parse revised image concepts": {
      "main": [
        [
          {
            "node": "SQL increment revised images batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL increment revised images batch": {
      "main": [
        [
          {
            "node": "Code expand revised image concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code expand revised image concepts": {
      "main": [
        [
          {
            "node": "SQL insert revised image prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL insert revised image prompts": {
      "main": [
        [
          {
            "node": "OpenAI generate revised image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI generate revised image": {
      "main": [
        [
          {
            "node": "Code attach revised image metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code attach revised image metadata": {
      "main": [
        [
          {
            "node": "Write revised image to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write revised image to disk": {
      "main": [
        [
          {
            "node": "SQL update revised generated image file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL update revised generated image file": {
      "main": [
        [
          {
            "node": "Read revised image files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read revised image files": {
      "main": [
        [
          {
            "node": "Telegram send revised image previews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram send revised image previews": {
      "main": [
        [
          {
            "node": "Code prepare revised image choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare revised image choice": {
      "main": [
        [
          {
            "node": "Telegram ask revised image choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram ask revised image choice": {
      "main": [
        []
      ]
    },
    "IF more_images": {
      "main": [
        [
          {
            "node": "SQL get more images context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF revising_text_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL get more images context": {
      "main": [
        [
          {
            "node": "Code prepare more image concepts prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare more image concepts prompt": {
      "main": [
        [
          {
            "node": "OpenAI generate more image concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI generate more image concepts": {
      "main": [
        [
          {
            "node": "Code parse more image concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code parse more image concepts": {
      "main": [
        [
          {
            "node": "SQL increment more images batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL increment more images batch": {
      "main": [
        [
          {
            "node": "Code expand more image concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code expand more image concepts": {
      "main": [
        [
          {
            "node": "SQL insert more image prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL insert more image prompts": {
      "main": [
        [
          {
            "node": "OpenAI generate more image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI generate more image": {
      "main": [
        [
          {
            "node": "Code attach more image metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code attach more image metadata": {
      "main": [
        [
          {
            "node": "Write more image to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write more image to disk": {
      "main": [
        [
          {
            "node": "SQL update more generated image file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL update more generated image file": {
      "main": [
        [
          {
            "node": "Read more image files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read more image files": {
      "main": [
        [
          {
            "node": "Telegram send more image previews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram send more image previews": {
      "main": [
        [
          {
            "node": "Code prepare more image choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare more image choice": {
      "main": [
        [
          {
            "node": "Telegram ask more image choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare fallback message": {
      "main": [
        [
          {
            "node": "Telegram send fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF create_post_or_start": {
      "main": [
        [
          {
            "node": "SQL create session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF select_topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code prepare LinkedIn topics prompt": {
      "main": [
        [
          {
            "node": "OpenAI generate LinkedIn topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL get previous topics for anti-duplicate": {
      "main": [
        [
          {
            "node": "SQL get LinkedIn chunks for topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL get LinkedIn chunks for topics": {
      "main": [
        [
          {
            "node": "Code build LinkedIn corpus from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code build LinkedIn corpus from DB": {
      "main": [
        [
          {
            "node": "Code prepare LinkedIn topics prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}